<div class="offer-card">
	<div class="offer-card__hint">Ознакомиться с предложением</div>
	<img class="offer-card__image" src="{{imageSrc}}">
	<h2 class="offer-card__title">{{title}}</h2>
	<div>
		<div class="offer-card__attribute">{{category}}</div>
		<div class="offer-card__attribute">{{timeSpan}}</div>
		<div class="offer-card__attribute">{{location}}</div>
	</div>
	<div>
		<span class="offer-card__counter">{{likedAmount}}</span>
		<span class="offer-card__counter">{{addedAmount}}</span>
	</div>
</div>