<div class="offer-card">
	<div class="offer-card__image-wrapper">
		<img class="offer-card__image" src="{{imageURL}}">
		<div class="offer-card__image-overlay">
	</div>
	</div>
	<button class="offer-card__popup-button">Ознакомиться с предложением</button>
	<div class="offer-card__buttons-wrapper">
		<button class="button button--icon offer-card__icon-button offer-card__review-button">
			<div class="icon icon-lamp"></div>
		</button>
		<button class="button button--icon offer-card__icon-button offer-card__like-button">
			<div class="icon icon-heart"></div>
		</button>
		<button class="button button--icon offer-card__icon-button offer-card__add-button">
			<div class="icon icon-plus"></div>
		</button>
		<button class="button button--icon offer-card__icon-button offer-card__comment-button">
			<div class="icon icon-bubble"></div>
		</button>
	</div>
	<h2 class="offer-card__title">{{title}}</h2>
	<div>
		<div class="offer-card__attribute">{{category}}</div>
		<div class="offer-card__attribute">{{timeSpan}}</div>
		<div class="offer-card__attribute">{{location}}</div>
	</div>
	<div>
		{{#if likedAmount}}
			<span class="offer-card__counter">{{likedAmount}} нравится</span>
		{{/if}}
		{{#if commentAmount}}
			<span class="offer-card__counter">{{commentAmount}} комментария</span>
		{{/if}}
		{{#if reviewAmount}}
			<span class="offer-card__counter">{{reviewAmount}} отзыва</span>
		{{/if}}
		{{#if addedAmount}}
			<span class="offer-card__counter">{{addedAmount}} добавили себе</span>
		{{/if}}
	</div>
	{{>user-card/index}}
</div>