<div class="offer-card">
	<div class="offer-card__image-wrapper">
		<img class="offer-card__image" src="{{imageURL}}">
		<div class="offer-card__image-overlay">
	</div>
	</div>
	<button class="offer-card__popup-button">Ознакомиться с предложением</button>
	<div class="offer-card__buttons-wrapper">
		<button class="button button--icon offer-card__icon-button offer-card__review-button">
			<div class="icon icon--lamp"></div>
		</button>
		<button
			class="button button--icon offer-card__icon-button offer-card__like-button"
			{{is-disabled-button likedUsers}}
		>
			<div class="icon icon--heart"></div>
		</button>
		<button
			class="button button--icon offer-card__icon-button offer-card__add-button"
			{{is-disabled-button addedUsers}}
		>
			<div class="icon icon--plus"></div>
		</button>
		<button class="button button--icon offer-card__icon-button offer-card__comment-button">
			<div class="icon icon--bubble"></div>
		</button>
	</div>
	<div class="offer-card__row offer-card__row--title">
		<h2 class="offer-card__title">{{title}}</h2>
	</div>
	<div class="offer-card__row offer-card__row--attributes">
		<div class="offer-card__attribute">{{category}}</div>
		<div class="offer-card__attribute">{{timespan}}</div>
		<div class="offer-card__attribute">{{location}}</div>
	</div>
	<div class="offer-card__row offer-card__row--counters">
		<div class="offer-card__counters-group">
			{{#if likedUsers.length}}
				<span class="counter offer-card__liked-counter"><span class="amount">{{likedUsers.length}}</span> нравится</span>
			{{/if}}
			{{#if comments.length}}
				<span class="counter offer-card__comments-counter"><span class="amount">{{comments.length}}</span> комментария</span>
			{{/if}}
			{{#if reviews.length}}
				<span class="counter offer-card__reviews-counter"><span class="amount">{{reviews.length}}</span> отзыва</span>
			{{/if}}
			{{#if addedUsers.length}}
				<span class="counter offer-card__added-counter"><span class="amount">{{addedUsers.length}}</span> добавили себе</span>
			{{/if}}
		</div>
	</div>
	{{>user-card/index
		size="small"
		classes="offer-card__user-card"
		caption="предлагает"
	}}
	{{>comments-bar/index
		modifier="card"
	}}
</div>