<div class="">
	<div>Ознакомиться с предложением</div>
	<img src="{{imageSrc}}">
	<h2>{{title}}</h2>
	<div>
		<div>{{category}}</div>
		<div>{{timeSpan}}</div>
		<div>{{location}}</div>
	</div>
	<div>
		<span>{{likedAmount}}</span>
		<span>{{addedAmount}}</span>
	</div>
</div>