<div class="offer-card">
	<div class="offer-card__image-wrapper">
		<img class="offer-card__image" src="{{imageURL}}">
		<div class="offer-card__image-overlay">
	</div>
	</div>
	<button class="offer-card__popup-button">Ознакомиться с предложением</button>
	<div class="offer-card__buttons-wrapper">
		<div class="icon icon-lamp offer-card__icon"></div>
		<div class="icon icon-heart offer-card__icon"></div>
		<div class="icon icon-plus offer-card__icon"></div>
		<div class="icon icon-bubble offer-card__icon"></div>
	</div>
	<h2 class="offer-card__title">{{title}}</h2>
	<div>
		<div class="offer-card__attribute">{{category}}</div>
		<div class="offer-card__attribute">{{timeSpan}}</div>
		<div class="offer-card__attribute">{{location}}</div>
	</div>
	<div>
		{{#if likedAmount}}
			<span class="offer-card__counter">{{likedAmount}}</span>
		{{/if}}
		{{#if likedAmount}}
			<span class="offer-card__counter">{{commentAmount}}</span>
		{{/if}}
		{{#if likedAmount}}
			<span class="offer-card__counter">{{reviewAmount}}</span>
		{{/if}}
		{{#if likedAmount}}
			<span class="offer-card__counter">{{addedAmount}}</span>
		{{/if}}
	</div>
	{{!-- {{#bem-helper}}kek{{/bem-helper}} --}}
	{{!-- <div {{#bem}}{block: 1}{{/bem}}></div> --}}
</div>